body {

    /* https://en.wikipedia.org/wiki/Web_colors */

    /* other suggestions: pink, purple, crimson, darkorchid, indigo, slateblue */

    /* light, more pink */
    /* background-color: #ee82ee; */
    /* background-color: #ffa2ff; */

    /* dark, slateblue but a little lighter */
    /* background-color: #8c7cef; */
    /* background-color: #b4c4d4; */

    /* LightBlue */
    /* background-color: #ADD8E6; */

    /* LightSteelBlue */
    /* background-color: #B0C4DE; */

    /* Bisque */
    background-color: #FFE4C4;

}

div.body {

    padding-top: 25px;
    padding-bottom: 25px;

    /* BlanchedAlmond */
    background-color: #FFEBCD;

}

/* override backref link design */
.toc-backref {
    text-decoration: none;
}

.toc-backref:hover {
    text-decoration: none;
    color: inherit;
}
